.FlatPanel {	
	font-family: Arial,·s²Ó©úÅé;
	font-size: x-small;
}
.FlatPanel .FlatPanelHead 
{	
	border-width: 0px 0px 0px 0px;
	
	border-style: solid;	
	font-weight: bold;
	text-align: left;	
	vertical-align: middle;
	background-repeat: repeat-x;
	
}




