body{
	font-size:12px;
	background-color: white;
}

table{
	width:100%;
	align:center
}

td {	
	font-family: "Verdana"; 
	font-style: normal; 
	font-size: 12px;
}

input { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	line-height: 150%;	
	}

input.checkbox { 
	border:0px;
	border-color:#000000;}
	
input.radio { 
	border:0px;
	border-color:#000000;}
input.button {  
	font-family: "Verdana"; 
	font-size: 12px;
	border-color:#ffffff;
	border-style:outset}	
input.button1
{
PADDING-RIGHT: 2px;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#FFCDFE);
background-image: linear-gradient(to bottom, #FFFFFF, #FFCDFE);
CURSOR: hand;
COLOR: black;
PADDING-TOP: 2px;
BORDER: #E7CDFF 1px double;
width: 10%; 
}
input.button11
{
PADDING-RIGHT: 2px;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF00FF, EndColorStr=#FFCDFE);
background-image: linear-gradient(to bottom, #FF00FF, #FFCDFE);
CURSOR: hand;
COLOR: black;
PADDING-TOP: 2px;
BORDER: #E7CDFF 1px double;
width: 10%;
}
input.button12
{
PADDING-RIGHT: 2px;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF00FF, EndColorStr=#FFCDFE);
background-image: linear-gradient(to bottom, #FF00FF, #FFCDFE);
CURSOR: hand;
COLOR: black;
PADDING-TOP: 2px;
BORDER: #E7CDFF 1px double;
width: 75pt;
}
input.button2 {  
	font-family: "Verdana"; 
        width: 75pt;
	font-size: 12px;
	border-color:#ffffff;
	border-style:outset}	
input.button3
{
PADDING-RIGHT: 2px;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#00CCFF);
background-image: linear-gradient(to bottom, #FFFFFF, #00CCFF);
CURSOR: hand;
COLOR: black;
PADDING-TOP: 2px;
BORDER: #E7CDFF 1px double;
width: 75pt;
}
input.button31
{
PADDING-RIGHT: 2px;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#0000FF, EndColorStr=#00CCFF);
background-image: linear-gradient(to bottom, #0000FF, #00CCFF);
CURSOR: hand;
COLOR: black;
PADDING-TOP: 2px;
BORDER: #E7CDFF 1px double;
width: 75pt;
}

input.button4 {  
	font-family: "Verdana"; 
        width: 115pt;
	font-size: 12px;
	border-color:#ffffff;
	border-style:outset}
			
select { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	line-height: 150%; 
	list-style-position: inside}

textarea { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	line-height: 150%; 
	list-style-position: outside}
	
//A:link {
//	font-family:"Verdana"; 
//	font-size:"12px";  
//	color:"#0000FF";  
//	text-decoration:"none"}

A:visited {
	font-family: "Verdana"; 
	font-size:"12px"; 
	//color:"#800080";  
	color:"blue";  
	text-decoration:"none"}
	
//A:active {
//	text-decoration:"none"}

A:hover {
	text-decoration:"underline"; 
	color:"red"}
	
//A:link {
//	font-family:"Arial"; 
//	font-size:"12px";  
//	color:"#0000FF";  
//	text-decoration:"none"}

//A:visited {
//	font-family:"Arial"; 
//	font-size:"8pt"; 
//	color:"#800080";  
//	text-decoration:"none"}
	
//A:active {
//	text-decoration:"none"}

//A:hover {
//	text-decoration:"underline"; 
//	color:"red"}
	
	
.title { 
	width: 500px;
	font-family: "Verdana"; 
	color: #FFFFFF; 
	font-style: normal;
	font-weight: bold; 
	font-size: 14px;
	text-align: left;
	background-color: #006699 }	
		
.subtitle { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal;
	font-weight: normal; 
	font-size: 12px;
	text-align: center;
	background-color: #A5CAE9 }	
.subtitle1 { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal;
	font-weight: normal; 
	font-size: 12px;
	text-align: center;
	background-color: #FFA2FF }	
	
.editLabel { 
	width:10%;
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	background-image:inherit;
	background-color: #EFEFEF}	
.editLabel1 { 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	background-image:inherit;
	background-color: #dcdcdc}	
	
.editLabel2 { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	background-image:inherit;
	background-color: #FF9900}
.editLabel3 { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	background-image:inherit;
	background-color: #dcdcdc}
.editLabel4 { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	background-image:inherit;
	background-color: #EFEFEF}
.editData { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 11px;
	line-height: 100% ; 
	background-color: #FFFFFF;
}
.editData2 { 
	font-family: "Verdana";
	color: #FFFFFF;
	font-size:16px;
    	font-weight:bold;
}
.editData3 { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 15px;
	line-height: 100% ; 
	background-color: #FFFFFF;
}
.editText { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 12px;
	text-align: Right;}	
.editText1 { 
	font-family: "Verdana"; 
	color: #FF0000; 
	font-style: normal; 
	font-size: 12px;
	text-align: Right;}	
	
.listHeader {
	font-family: "Verdana"; 
 	color: #FFFFFF; 
 	font-style: normal; 
 	font-size: 12px;
 	background-color: #006699;
 	text-align: center;
}

.listRowEven {
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 12px;
 	background-color: #EFEFEF;
 	text-align: center;
}

.listRowOdd { 
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 12px;
 	background-color: #D3D3D3;
 	text-align: center;
}

.colorRmk {
	color: red;
}

.boldColorRmk {
	color: red;
	font-weight: bold;
}

.boldColorRmk1 {
	color: blue;
	font-weight: bold;
}

.mInput {
	background-color: #DFE1F2;
}

.readOnly {
	color: #6c6c6c; 
	background-color: #e0e0e0;
	border-color: #626262;
}

.isChecked {
	color: #0066FF;
}

.normal {
	color: #000000;
}

.btnPosition {
	text-align: CENTER;
}

.pupWinBtnPos {
	text-align:CENTER;
}

.pupWinTitle {
	width: 80%;
	border: 1px;
	border-style: solid;
	border-color: #003366;
	background-color: #CCCCCC;
	font-family: "Verdana"; 
 	color: #000000; 
	font-weight: bold; 
	font-size: 12px;
	line-height: 125% ; 
	text-align: center;
}

.colorRmk1 {
	color: blue;
}

.listLink A:link {
	font-family: "Verdana";
	font-size:12px;color:#FFFFFF;	
	text-decoration:underline;
}
.listLink A:visited {
	font-family: "Verdana";
	font-size:12px;color:#FFFFFF;	
	text-decoration:underline;
}
.listLink A:hover {
	text-decoration:"none"; 
	color:#ffff00
}

.rowChecked {
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 12px;
 	text-align: center;
	background-color:#ffff00;
}

.billQueryListHeader{
	font-family: "Verdana"; 
 	color: #FFFFFF; 
 	font-style: normal; 
 	font-size: 11px;
 	line-height: 12px ; 
 	background-color: #006699;
 	text-align: center;
}
.billQueryListRowEven {
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 11px;
 	line-height: 12px ;
 	background-color: #EFEFEF;
 	text-align: center;
}
.billQueryListRowOdd { 
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 11px;
 	line-height: 12px ;
 	background-color: #D3D3D3;
 	text-align: center;
}
.billQueryRowChecked {
	font-family: "Verdana"; 
 	color: #000000; 
 	font-style: normal; 
 	font-size: 11px;
 	line-height: 12px ;
 	text-align: center;
	background-color:#ffff00;
}
.billQueryButton {
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 10px;
	line-height: 145%;
	border: 1px;
	border-style: solid;
	border-color: #006699;
}
.billQueryTd {
	white-space: nowrap;
	font-family: "Verdana"; 
	font-style: normal; 
	font-size: 11px;
	line-height: 12px;
}
.billQueryIsChecked {
	font-size: 11px;
	line-height: 12px;
	color: #0066FF;
}

.billQueryNormal {
	font-size: 11px;
	line-height: 12px;
	color: #000000;
}
.billQueryEditLabel1 { 
	width:10%;
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 11px;
	line-height: 12px ; 
	background-color: #dcdcdc}
.billQuerySubtitle { 
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal;
	font-weight: normal; 
	font-size: 10px;
	line-height: 140% ; 
	text-align: center;
	background-color: #A5CAE9 }
.billQueryText {
	font-family: "Verdana"; 
	color: #000000; 
	font-style: normal; 
	font-size: 10px;
	line-height: 135%;
	border: 1px;
	border-style: solid;
	border-color: #006699;	
}	

.darkGray {
	background-color: #7F7F7F;
	color: #FFFFFF;
	font-weight: bold;
}

input[type="button"]:disabled {
	color: #cccccc;
}